@import "tailwindcss";

a:hover {
  letter-spacing: 0.8px;
}

button:hover {
  transform: scale(1.05);
}
*{
  cursor: none;
}
html, body {
  height: 100%;
}

body {
  overscroll-behavior: none;
}
#contact:hover {
  background-color: rgba(0,0,0,0.95);
}
